<nav>
    <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/caretaker">Find a caretaker</a></li>
    </ul>
</nav>
<%if (auth === true) { %>
    <%- include('./userMenu'); %>
<% } else { %>
    <a class="nav_links nav_right" href="/login">Login</a>
<% } %>



