<form method="POST" action="/login">
    <h3 id="title">Sign In</h3>
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" value="Log in">
    <p>Don't have an account? <a href="/signup">Sign up</a> now!</p>
</form>

