<form method="POST" action="/signup">
    <h3 id="title">Sign Up</h3>
    <div class="aligner">
        <input type="text" id="name" name="name" placeholder="Name">
    </div>
    <div class="aligner" id="phone_area">
        <div id="phoneDiv">
            <input type="text" id="phone" name="phone" placeholder="Phone number">
        </div>
        <div id="areaDiv">
            <input type="text" id="area" name="area" placeholder="Residential District">
        </div>
    </div>
    
    <hr>
    
    <div class="aligner">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Sign up">
    </div>
    
</form>

