<nav>
    <ul class="nav_links">
        <li><a href="/profile">Profile</a></li>
        <%if (isAdmin) { %>
        	<li><a href="/getmonthlyreport">Monthly Report</a></li>
        	<li><a href="/summary">Summary</a></li>
            <li><a href="/addadmin">Add Admin</a></li>
        <% } else { %>
			<li><a href="/pastorders">Past Orders</a></li>
        <% } %>
    </ul>
</nav>
<a class="nav_links nav_right" href="/logout">Logout</a>
