<nav>
    <ul class="nav_links">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/pastorders">Past Orders</a></li>
    </ul>
</nav>
<a class="nav_links nav_right" href="/logout">Logout</a>
