a:link {
  color: #4CAF50;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

body {
  background-color: rgb(252, 239, 224);
  margin: 0px;
  font-family: 'Roboto','Segoe UI', sans-serif;
  font-size: 16px;
  color: black;
}

img {
  object-fit: contain;
}

header, footer {
    background-color: green;
    color: white;
}

header { 
  margin: 0px;
  height: 60px;
  width: auto;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
}

header a:link {
    color: white;
}
  
header a:visited {
    color: white;
}

header a:hover {
    color: rgb(200, 200, 200);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
  
    font-size: 14px;
  }

hr {
  width: 90%;
  color: #eeeeee
}

th, td {
  border: 1px solid black;
}
table {
    border-collapse: collapse;
}

ul.nav_links  {
  margin: 0px;
  padding: 0px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav_right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

div.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.content .card {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.6);
}

.spacing {
  height: 70px;
  width: 100%;
}

p {
  word-wrap: break-word;
  margin: 10px 0px;
  line-height: 150%;
}

p.error_message {
  color:red;
}

button {

  border: none;
  background-color: #4CAF50;
  

  padding: 10px;
  margin: 10px 0px;

  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;

  cursor: pointer;
  
}

button:hover {
  color: lightgray;
}

div.section {
  display: flex;
  flex-direction: row;
}

#bttButton {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 50px;

  background-color: azure;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#bttButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}