button {
    width: 100%;
}

form {
    width: 100%;
}

hr {
    width: 100%;
}

select {
    width: 100%;
    padding: 10px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 0px;
    padding: 10px;
}

div.content {
    display: block;
}

div.profile-header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.card {
    border-radius: 20px;
}

div#left-panel {
    float: left;
    margin-left: 5%;
    width: 50%;
    border-radius: 20px;
}

div#right-panel {
    float: right;
    margin-right: 5%;
    padding: 40px;
    width: 25%;
}

div#date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div#date p {
    margin: 0px;
}