form {
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    padding: 20px 60px 60px 60px;
    border-radius: 20px;
}

input {
    padding: 10px;
    width:100%;
}

input#show-pw {
    width: auto;
}

button {
    width: 100%;
}

div.content {
    display: inline-flex;
    align-items: center;

    width: 100%;
}

div.aligner {
    display:block;
    text-align: center;
}

div.input-group {
    display: inline-flex;
    flex-direction: column;

    margin: 20px 0px;
}

#editProfileForm {
    display: inline-flex;
    justify-content: center;
}

#title {
    text-align: center;
    margin: 40px 20px;
}