<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/caretaker.css' />
    </head>

    <body>        
      <header>
          <%- include('./components/header'); %>
      </header>

      <div class="spacing"></div>
      
      <div class="content">
      </div>

      <footer>
          <%- include('./components/footer'); %>
      </footer>
    </body>
</html>