<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/get-report.css' />
        <script src="js/getMonthlyReportScript.js"></script>
    </head>

    <body>
        <header>
            <%- include('./components/header'); %>
        </header>

        <div class="content">
          <div class="spacing"></div>
          <form id="getMonthlyReportForm" method="POST" action="/getmonthlyreport">
            <h4 id="title">Get Monthly Report</h4>
            <div class="form-group">
              <label for="month">Month: </label>
              <select name="month" id="month" required>
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">July</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov Pig</option>
                <option value="12">Dec</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Year: </label>
            <input type="text" id="year" name="year" placeholder="YYYY" required>
            </div>
            <button type="submit" class="button">Submit</button>
          </form>
        </div>

        <div class="spacing"></div>
        
        <script>
          window.addEventListener('load', function() {
            var forms = [document.getElementById('getMonthlyReportForm')];
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', check, false);
            });
          }, false);
        </script>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>
