<!DOCTYPE html>
<html>
    <head>
        <%- include('./components/htmlHead'); %>
        <link rel='stylesheet' href='/css/home.css' />
    </head>

    <body>        
      <header>
          <%- include('./components/header'); %>
      </header>

      <div class="spacing"></div>
      
      <div class="content">
        <div class="card">
            <h1>Hello there!</h1>
            <p>
                This is the landing page...
            </p>
          </div>
      </div>

      <div class="spacing"></div>
      <footer>
          <%- include('./components/footer'); %>
      </footer>
    </body>
</html>