<!DOCTYPE html>
<html>
  <head>
    <%- include('./components/htmlHead'); %>
    <link rel='stylesheet' href='/css/signup.css' />
  </head>
  <body>
    <div class="content">
      <div class="spacing"></div>
      <div id="signupForm">
        <%- include('./components/signupForm'); %>
      </div>
    </div>
  </body>
</html>
